<!DOCTYPE html>
<html>
  <head>
    <title>{% block title %}TITLE GOES HERE{% endblock %}</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="/static/styles.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="/">My Recipes</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link" href="/meal-planner">Meal Planner</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/meal-planner">Analyze Recipe</span></a>
          </li>
          <!-- <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Dropdown
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="#">Action</a>
              <a class="dropdown-item" href="#">Another action</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="#">Something else here</a>
            </div>
          </li> -->
        </ul>
        <div class="form-inline my-2 my-lg-0">
          <a href="/register"><button class="btn btn-primary btn-sm mr-sm-2">Register</button></a>
          <a href="/login"><button class="btn btn-primary btn-sm my-2 my-sm-0">Login</button></a>
        </div>
      </div>
    </nav>
        {% block content %}BODY CONTENT GOES HERE{% endblock %}
        <footer class="mt-5">
          <div class="container-fluid">
            <div class="row d-flex justify-content-center">
              <div class="col-3 text-center">
                <h6>Navigation</h6>
                <ul class="navbar-nav mr-auto text-left">
                  <li class="nav-item">
                    <a class="nav-link" href="/meal-planner">Meal Planner</span></a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="/analyze-recipe">Analyze Recipe</span></a>
                  </li>
                </ul>
              </div>
              <div class="col-3 text-center">
                <h6>Legal</h6>
              </div>
              <div class="col-3 text-center">
                <h6>Contact</h6>
              </div>
            </div>
          </div>
        </footer>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="/static/script.js"></script>
  </body>
</html>
