{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}

<div class="container-fluid p-5">
    <div class="row d-flex">
        <div class="col-sm-12 col-md-6">
            {% if helperRecipes|length > 0 and recipe.id == helperRecipes[0].api_id %}
                                      <!-- Modal -->
      <div class="modal fade" id="editLibraryTags" tabindex="-1" role="dialog" aria-labelledby="editLibraryTagsFormLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="eeditLibraryTagsFormLabel">Edit Library Tags</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div> 
            <div class="modal-body">
              <div class="row d-flex">
                <div class="col-3">
                  <form action="/recipe/{{recipe.id}}/newTag">
          
                    <h5 class="mb-2">Custom Tags</h5>
                    <label for="newCustomTag">Create a new custom tag (ie. food type, ingredient, meal type, etc...)</label><br>
                    <input class="mb-2" type="text" id="newCustomTag" name="newCustomTag">
                 
                    <button class="btn btn-primary">Create</button>

            </form>
                </div>
                <div class="col-9">
                  <form method="POST" action="/recipe/{% for item in user.saved_recipes %}{% if item.api_id == recipe.id %}{{item.id}}{% endif %}{% endfor %}/editLibraryTags" id="library_tags" style="width: 75%; margin: 0 auto">
                 
                    {{ form.hidden_tag() }}
                    <div class="container">
                      <div class="row d-flex">
                        <div class="col-6">
                          {% if form.displayCustoms %}
                          <h5>Existing custom tags:</h5>
                          {{form.displayCustoms}}
                          {% endif %}

                          <h5>Diets</h5>
                          {{form.diets}}
                        
                        </div>
                        <div class="col-6">
                          <h5>Cuisines</h5>
                          {{form.fave_cuisines}}
                         
                        </div>
                      </div>
                    </div>
                 
                   <button class="btn btn-primary">Save changes</button>
          
                  </form>
                </div>
              </div>
              <!-- <div class="container mb-5">
                <div class="row d-flex">
                  <div class="col-12 text-left justify-content-center"> -->
           
                  <!-- </div>
                </div>
              </div> -->
              
    
           
             
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
      </div>
            <h1>
                <a href="#editLibraryTags" data-toggle="modal" data-target="#editLibraryTags"><i style="color: blue" data-toggle="tooltip" data-placement="top" title="Edit library tags" class="fa fa-edit"></i></a>      
                <a href="/delete_recipe/{{recipe.id}}"><i style="color: red" data-toggle="tooltip" data-placement="top" title="Delete from library" class="fa fa-minus-circle"></i></a>
                {{recipe.title}}
            </h1>          
            {% else %}
            <h1><a href="/save_recipe/{{recipe.id}}"><i style="color: green" data-toggle="tooltip" data-placement="top" title="Save to library" class="fa fa-plus-circle"></i></a>{{recipe.title}}</h1>
           {%endif%}
           
            <h6 class="mt-3"><b>Source: </b><a href="{{recipe.sourceUrl}}" target="_blank"><span>{{recipe.creditsText}}</span></a></h6>
            <h6 class="mb-2 mt-5"><span><b>Ready In:</b> {{recipe.readyInMinutes}} min.</span> | <span><b>Calories: </b> {{recipe.nutrition.nutrients[0].amount}}</span> </h6>
            <p class="recipe-summary">{{recipe.summary}}</p>
            {% if helperRecipes|length > 0 and recipe.id == helperRecipes[0].api_id %}
<hr/>          
            {% if helperRecipes[0].saved_recipes_linked_cuisine %}
            <p class="text-left"><b><i>Library Tags - Cuisines:</i></b>  
              {% for r in helperRecipes[0].saved_recipes_linked_cuisine %}
                <span><i>{{r.name}},</i></span>
              {% endfor %}
            </p>
            {% else %}
            <p class="text-left"><b><i>Library Tags - Cuisines:</i></b>  
              <span><i>None</i></span>
            </p>
            {% endif %}
         
            {% if helperRecipes[0].saved_recipes_linked_diet %}
            <p class="text-left"><b><i>Library Tags - Diets:</i></b>  
              {% for d in helperRecipes[0].saved_recipes_linked_diet %}
                <span><i>{{d.name}},</i></span>
              {% endfor %}
            </p>
            {% else %}
            <p class="text-left"><b><i>Library Tags - Diets:</i></b>  
              <span><i>None</i></span>
            </p>
            {% endif %}

            {% if helperRecipes[0].saved_recipes_linked_custom %}
            <p class="text-left"><b><i>Library Tags - Custom Tags:</i></b>  
              {% for t in helperRecipes[0].saved_recipes_linked_custom %}
                <span><i>{{t.name}},</i></span>
              {% endfor %}
            </p>
            {% else %}
            <p class="text-left"><b><i>Library Tags - Custom Tags:</i></b>  
              <span><i>None</i></span>
            </p>
            {% endif %}


            <a href="#editLibraryTags" data-toggle="modal" data-target="#editLibraryTags" class="btn btn-primary">Edit Library Tags</a>
            <a href="/delete_recipe/{{recipe.id}}" class="btn btn-danger">Delete From Library</a>
            {% else %}
            <a href="/save_recipe/{{recipe.id}}" class="btn btn-success">Save to Library</a>
            {% endif %}
        </div>
        <div class="col-sm-12 col-md-6">
            <img src="{{recipe.image}}" class="img-fluid">
        </div>

    </div>
    <hr/>
    <div class="row d-flex mt-5">
        <div class="col-12">
              <ul class="nav nav-pills" id="myTab" role="tablist">
                <li class="nav-item">
                  <a class="nav-link active" id="ingredients-tab" data-toggle="tab" href="#ingredients" role="tab" aria-controls="ingredients" aria-selected="true">Ingredients</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" id="directions-tab" data-toggle="tab" href="#directions" role="tab" aria-controls="directions" aria-selected="false">Directions</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="nutrition-tab" data-toggle="tab" href="#nutrition" role="tab" aria-controls="nutrition" aria-selected="false">Nutrition</a>
                  </li>
              </ul>
              <div class="tab-content" id="myTabContent">
                <div class="tab-pane fade show active" id="ingredients" role="tabpanel" aria-labelledby="ingredient-tab">
                  <div class="container-fluid mt-5">
                      <div class="row d-flex">
                          <div class="col-sm-12 col-md-8">
                              <h2>Ingredients</h2>
                          </div>
                          <div class="col-sm-12 col-md-2">
                            <h6><b>Servings: </b> {{recipe.servings}}</h6>
                        </div>
                        <div class="col-sm-12 col-md-2">
                            <form id="servingMeasure">
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="US" checked>
                                    <label class="form-check-label" for="inlineRadio1">US</label>
                                  </div>
                                  <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="Metric">
                                    <label class="form-check-label" for="inlineRadio2">Metrics</label>
                                  </div>
                            </form>
                        </div>
                      </div>
                      <div class="row d-flex">
                          <div class="col-12">
                            <ul id="us">
                                {% for item in recipe.extendedIngredients %}
                                  <li>{{item.measures.us.amount}} {{item.measures.us.unitShort}} {{item.name}}</li>
                                {% endfor %}
                            </ul>
                            <ul id="metric">
                                {% for item in recipe.extendedIngredients %}
                                  <li>{{item.measures.metric.amount}} {{item.measures.metric.unitShort}} {{item.name}}</li>
                                {% endfor %}
                            </ul>
                          </div>
                      </div>
                  </div>
                </div>
                <div class="tab-pane fade" id="directions" role="tabpanel" aria-labelledby="directions-tab">
                    <div class="container-fluid mt-5">
                        <div class="row d-flex">
                            <div class="col-12">
                                <h2>Directions</h2>
                                <div id="recipe-directions">
                                    {{recipe.instructions}}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="nutrition" role="tabpanel" aria-labelledby="nutrition-tab">
                    <div class="container-fluid mt-5">
                        <div class="row d-flex">
                            <div class="col-6">
                                <ul>
                                    <h5><b><u>Cuisines:</u></b></h5> 
                                    {% if recipe.cuisines| length > 0 %}
                                    {% for cuisine in recipe.cuisines %}
                                    <li>{{cuisine}}</li>
                                    {% endfor %}
                                    {% else %}
                                    <p>None listed</p>
                                    {% endif %}
                                </ul>
                                <ul>
                                    <h5><b><u>Diets:</u></b></h5> 
                                    {% if recipe.diets| length > 0 %}
                                    {% for diet in recipe.diets %}
                                    <li>{{diet}}</li>
                                    {% endfor %}
                                    {% else %}
                                    <p>None listed</p>
                                    {% endif %}
                                </ul>
                                <ul>
                                  <h5><b><u>Health Score:</u></b></h5>
                                    {% if recipe.healthScore %}
                                    <p>{{recipe.healthScore}}</p>
                                    {%else%} 
                                    <p>None listed</p>
                                    {%endif%}
                                </ul>
                                <ul>
                                  <h5><b><u>Weight Watcher Smartpoints:</u></b></h5>
                                    {% if recipe.weightWatcherSmartPoints %}
                                    <p>{{recipe.weightWatcherSmartPoints}} pts</p>
                                    {%else%}
                                    <p>None listed</p>
                                    {%endif%}
                                </ul>
                                <div class="row d-flex">
                                  <div class="col-12">
                                    <ul>
                                      <h5><b><u>Health Labels:</u></b></h5> 
                                    </ul>
                                  </div>
                                  <ul>
                                  {% if not recipe.dairyFree or recipe.glutenFree or recipe.ketogenic or recipe.vegan or recipe.vegetarian or recipe.whole30  %}  
                                  <div class="col">
                                    <p>None</i></p>
                                  </div>
                                  {% endif %}
                                  {% if recipe.dairyFree %}
                                  <div class="col">
                                      <div class="badge">Dairy Free <i class="fa fa-check"></i></div>
                                  </div>
                                  {%endif%}
                                  {% if recipe.glutenFree %}
                                  <div class="col">
                                      <div class="badge">Gluten Free <i class="fa fa-check"></i></div>
                                  </div>
                                  {%endif%}
                                  {% if recipe.ketogenic %}
                                  <div class="col">
                                      <div class="badge">Ketogenic <i class="fa fa-check"></i></div>
                                  </div>
                                  {%endif%}
                                  {% if recipe.vegan %}
                                  <div class="col">
                                      <div class="badge">Vegan <i class="fa fa-check"></i></div>
                                  </div>
                                  {%endif%}
                                  {% if recipe.vegetarian %}
                                  <div class="col">
                                      <div class="badge">Vegetarian <i class="fa fa-check"></i></div>
                                  </div>
                                  {%endif%}
                                  {% if recipe.whole30 %}
                                  <div class="col">
                                      <div class="badge">Whole 30 <i class="fa fa-check"></i></div>
                                  </div>
                                  {%endif%}
                                </ul>
                              </div>
                            </div>
                       
                            <div class="col-6">
                              <div class="row d-flex">
                                <div class="col-12">
                                  <h5><b><u>Nutrition Facts (per 1 serving):</u></b></h5>
                                </div>
                                <div class="col-12">
                                  {% for x in recipe.nutrition.nutrients %}
                                  <p><b>{{x.title}}: </b>{{x.amount}} {{x.unit}}</p>
                                  {% endfor %}                                
                                </div>
                              </div>
                            </div>
                        </div>
                    </div>
                </div>
              </div>
              
        </div>

    </div>
</div>



{% endblock %}
