{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}

<div class="container-fluid p-5">
    <div class="row d-flex">
        <div class="col-sm-12 col-md-6">
            {% if helperRecipes|length > 0 and recipe.id == helperRecipes[0].id %}
                                      <!-- Modal -->
      <div class="modal fade" id="editLibraryTags" tabindex="-1" role="dialog" aria-labelledby="editLibraryTagsFormLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="eeditLibraryTagsFormLabel">Edit Library Tags</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div> 
            <div class="modal-body">
              <div class="row d-flex">
                <div class="col-3">
                  <form action="/recipe/{{recipe.id}}/newTag">
          
                    <h5 class="mb-2">Custom Tags</h5>
                    <label for="newCustomTag">Create a new custom tag (ie. food type, ingredient, meal type, etc...)</label><br>
                    <input class="mb-2" type="text" id="newCustomTag" name="newCustomTag">
                 
                    <button class="btn btn-primary">Create</button>

            </form>
                </div>
                <div class="col-9">
                  <form method="POST" action="/users/{{user.id}}/created-recipe/{% for item in user.created_recipes %}{% if item.id == recipe.id %}{{item.id}}{% endif %}{% endfor %}/editLibraryTags" id="library_tags" style="width: 75%; margin: 0 auto">
                 
                    {{ form.hidden_tag() }}
                    <div class="container">
                      <div class="row d-flex">
                        <div class="col-6">
                          {% if form.displayCustoms %}
                          <h5>Existing custom tags:</h5>
                          {{form.displayCustoms}}
                          {% endif %}

                          <h5>Diets</h5>
                          {{form.diets}}
                        
                        </div>
                        <div class="col-6">
                          <h5>Cuisines</h5>
                          {{form.fave_cuisines}}
                         
                        </div>
                      </div>
                    </div>
                 
                   <button class="btn btn-primary">Save changes</button>
          
                  </form>
                </div>
              </div>          
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
      </div>
            <h1>
                <a href="/users/{{user.id}}/created-recipe/{{recipe.id}}/edit" data-toggle="modal"><i style="color: green" data-toggle="tooltip" data-placement="top" title="Edit recipe" class="fa fa-edit"></i></a>      
                <a href="/users/{{user.id}}/created-recipe/{{recipe.id}}/delete"><i style="color: red" data-toggle="tooltip" data-placement="top" title="Delete from library" class="fa fa-minus-circle"></i></a>
                {{recipe.title}}
            </h1>          
          
           {%endif%}
           
            <h6 class="mt-3"><b>Source: </b>{{user.first_name}} {{user.last_name}}</h6>
            <h6 class="mb-2 mt-5">{% if recipe.cooking_time%} <span><b>Ready In:</b> {{recipe.cooking_time}}</span> {%endif %} | <span><b>Calories: </b> {{recipe.calories/recipe.servings|int}} Cal</span> </h6>
            <p class="recipe-summary">{{recipe.summary}}</p>
            {% if helperRecipes|length > 0 and recipe.id == helperRecipes[0].id %}
<hr/>          
            {% if helperRecipes[0].created_recipes_linked_cuisine %}
            <p class="text-left"><b><i>Library Tags - Cuisines:</i></b>  
              {% for r in helperRecipes[0].created_recipes_linked_cuisine %}
                <span><i>{{r.name}},</i></span>
              {% endfor %}
            </p>
            {% else %}
            <p class="text-left"><b><i>Library Tags - Cuisines:</i></b>  
              <span><i>None</i></span>
            </p>
            {% endif %}
         
            {% if helperRecipes[0].created_recipes_linked_diet %}
            <p class="text-left"><b><i>Library Tags - Diets:</i></b>  
              {% for d in helperRecipes[0].created_recipes_linked_diet %}
                <span><i>{{d.name}},</i></span>
              {% endfor %}
            </p>
            {% else %}
            <p class="text-left"><b><i>Library Tags - Diets:</i></b>  
              <span><i>None</i></span>
            </p>
            {% endif %}

            {% if helperRecipes[0].created_recipes_linked_custom %}
            <p class="text-left"><b><i>Library Tags - Custom Tags:</i></b>  
              {% for t in helperRecipes[0].created_recipes_linked_custom %}
                <span><i>{{t.name}},</i></span>
              {% endfor %}
            </p>
            {% else %}
            <p class="text-left"><b><i>Library Tags - Custom Tags:</i></b>  
              <span><i>None</i></span>
            </p>
            {% endif %}


            <a href="#editLibraryTags" data-toggle="modal" data-target="#editLibraryTags" class="btn btn-primary">Edit Library Tags</a>
            <a href="/users/{{user.id}}/created-recipe/{{recipe.id}}/edit" class="btn btn-success">Edit Recipe</a>
            <a href="/users/{{user.id}}/created-recipe/{{recipe.id}}/delete" class="btn btn-danger">Delete From Library</a>
   
            {% endif %}
        </div>
        <div class="col-sm-12 col-md-6">
          {% if 'http' in recipe.image %}
          <img src={{recipe.image}} class="img-fluid">
            {% else %}
            <img src="/static/images/{{recipe.image}}" class="img-fluid">
            {% endif %}
        </div>

    </div>
    <hr/>
    <div class="row d-flex mt-5">
        <div class="col-12">
              <ul class="nav nav-pills" id="myTab" role="tablist">
                <li class="nav-item">
                  <a class="nav-link active" id="ingredients-tab" data-toggle="tab" href="#ingredients" role="tab" aria-controls="ingredients" aria-selected="true">Ingredients</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" id="directions-tab" data-toggle="tab" href="#directions" role="tab" aria-controls="directions" aria-selected="false">Directions</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="nutrition-tab" data-toggle="tab" href="#nutrition" role="tab" aria-controls="nutrition" aria-selected="false">Nutrition</a>
                  </li>
              </ul>
              <div class="tab-content" id="myTabContent">
                <div class="tab-pane fade show active" id="ingredients" role="tabpanel" aria-labelledby="ingredient-tab">
                  <div class="container-fluid mt-5">
                      <div class="row d-flex">
                          <div class="col-sm-12 col-md-8">
                              <h2>Ingredients</h2>
                          </div>
                          <div class="col-sm-12 col-md-4">
                            <h6><b>Servings: </b> {{recipe.servings}}</h6>
                        </div>
                        <div class="col-12">
                          <ul>
                            {% for ingr in recipe.ingredients %}
                              <li>{{ingr}}</li>
                            {%endfor%}
                          </ul>                         
                      </div>
                  </div>
                </div>
                </div>
                <div class="tab-pane fade" id="directions" role="tabpanel" aria-labelledby="directions-tab">
                    <div class="container-fluid mt-5">
                        <div class="row d-flex">
                            <div class="col-12">
                                <h2>Directions</h2>
                                  
                               
                                     
                                    <div id="recipe-directions">
                                      {{recipe.directions}}
                                    </div>
                                  
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="nutrition" role="tabpanel" aria-labelledby="nutrition-tab">
                    <div class="container-fluid mt-5">
                        <div class="row d-flex">
                            <div class="col-6">
                                <ul>
                                    <h5><b><u>Cuisines:</u></b></h5> 
                                    {% if recipe.cuisines| length > 0 %}
                                    {% for cuisine in recipe.cuisines %}
                                    <li>{{cuisine}}</li>
                                    {% endfor %}
                                    {% else %}
                                    <p>None listed</p>
                                    {% endif %}
                                </ul>
                                <ul>
                                    <h5><b><u>Diets:</u></b></h5> 
                                    {% if recipe.diets| length > 0 %}
                                    {% for diet in recipe.diets %}
                                    <li>{{diet}}</li>
                                    {% endfor %}
                                    {% else %}
                                    <p>None listed</p>
                                    {% endif %}
                                </ul>
                                <ul>
                                  <h5><b><u>Weight Watcher Smartpoints:</u></b></h5>
                                    {% if recipe.weightWatcherSmartPoints %}
                                    <p>{{recipe.weightWatcherSmartPoints}} pts</p>
                                    {%else%} 
                                    <p>None listed</p>
                                    {%endif%}
                                </ul>
                                <div class="row d-flex">
                                  <div class="col-12">
                                    <ul>
                                      <h5><b><u>Health Labels:</u></b></h5> 
                                    </ul>
                                  </div>
                                  <ul>
                                  {% if 'DAIRY_FREE' in recipe.healthLabels %}
                                  <div class="col-6">
                                      <div class="badge">Dairy Free <i class="fa fa-check"></i></div>
                                  </div>
                                  {%endif%}
                                  {% if 'GLUTEN_FREE' in recipe.healthLabels %}
                                  <div class="col-6">
                                      <div class="badge">Gluten Free <i class="fa fa-check"></i></div>
                                  </div>
                                  {%endif%}
                                  {% if 'FAT_FREE' in recipe.healthLabels %}
                                  <div class="col-6">
                                      <div class="badge">Fat Free <i class="fa fa-check"></i></div>
                                  </div>
                                  {%endif%}
                                  {% if 'VEGAN' in recipe.healthLabels %}
                                  <div class="col-6">
                                      <div class="badge">Vegan <i class="fa fa-check"></i></div>
                                  </div>
                                  {%endif%}
                                  {% if 'VEGETARIAN' in recipe.healthLabels %}
                                  <div class="col-6">
                                      <div class="badge">Vegetarian <i class="fa fa-check"></i></div>
                                  </div>
                                  {%endif%}
                                  {% if 'LOW_FAT' in recipe.healthLabels %}
                                  <div class="col-6">
                                      <div class="badge">Low Fat <i class="fa fa-check"></i></div>
                                  </div>
                                  {%endif%}
                                  {% if 'PESCATARIAN' in recipe.healthLabels %}
                                  <div class="col-6">
                                      <div class="badge">Pescatarian <i class="fa fa-check"></i></div>
                                  </div>
                                  {%endif%}
                                  {% if 'PALEO' in recipe.healthLabels %}
                                  <div class="col-6">
                                      <div class="badge">Paleo <i class="fa fa-check"></i></div>
                                  </div>
                                  {%endif%}
                                  {% if 'WHEAT_FREE' in recipe.healthLabels %}
                                  <div class="col-6">
                                      <div class="badge">Wheat Free <i class="fa fa-check"></i></div>
                                  </div>
                                  {%endif%}
                                  {% if 'EGG_FREE' in recipe.healthLabels %}
                                  <div class="col-6">
                                      <div class="badge">Egg Free <i class="fa fa-check"></i></div>
                                  </div>
                                  {%endif%}
                                  {% if 'PEANUT_FREE' in recipe.healthLabels %}
                                  <div class="col-6">
                                      <div class="badge">Peanut Free <i class="fa fa-check"></i></div>
                                  </div>
                                  {%endif%}
                                  {% if 'TREE_NUT_FREE' in recipe.healthLabels %}
                                  <div class="col-6">
                                      <div class="badge">Tree Nut Free <i class="fa fa-check"></i></div>
                                  </div>
                                  {%endif%}
                                  {% if 'SOY_FREE' in recipe.healthLabels %}
                                  <div class="col-6">
                                      <div class="badge">Soy Free <i class="fa fa-check"></i></div>
                                  </div>
                                  {%endif%}
                                  {% if 'FISH_FREE' in recipe.healthLabels %}
                                  <div class="col-6">
                                      <div class="badge">Fish Free <i class="fa fa-check"></i></div>
                                  </div>
                                  {%endif%}
                                  {% if 'SHELLFISH_FREE' in recipe.healthLabels %}
                                  <div class="col-6">
                                      <div class="badge">Shellfish Free <i class="fa fa-check"></i></div>
                                  </div>
                                  {%endif%}
                                  {% if 'PORK_FREE' in recipe.healthLabels %}
                                  <div class="col-6">
                                      <div class="badge">Pork Free <i class="fa fa-check"></i></div>
                                  </div>
                                  {%endif%}
                                  {% if 'RED_MEAT_FREE' in recipe.healthLabels %}
                                  <div class="col-6">
                                      <div class="badge">Red Meat Free <i class="fa fa-check"></i></div>
                                  </div>
                                  {%endif%}
                                  {% if 'ALCOHOL_FREE' in recipe.healthLabels %}
                                  <div class="col-6">
                                      <div class="badge">Alcohol Free <i class="fa fa-check"></i></div>
                                  </div>
                                  {%endif%}
                                  {% if 'NO_OIL_ADDED' in recipe.healthLabels %}
                                  <div class="col-6">
                                      <div class="badge">No Oil Added <i class="fa fa-check"></i></div>
                                  </div>
                                  {%endif%}
                                  {% if 'NO_SUGAR_ADDED' in recipe.healthLabels %}
                                  <div class="col-6">
                                      <div class="badge">No Sugar Added <i class="fa fa-check"></i></div>
                                  </div>
                                  {%endif%}
                                  {% if 'KOSHER' in recipe.healthLabels %}
                                  <div class="col-6">
                                      <div class="badge">Kosher <i class="fa fa-check"></i></div>
                                  </div>
                                  {%endif%}
                                  {% if 'NO_OIL_ADDED' in recipe.healthLabels %}
                                  <div class="col-6">
                                      <div class="badge">No Oil Added <i class="fa fa-check"></i></div>
                                  </div>
                                  {%endif%}
                                  {% if 'HIGH_FIBER' in recipe.healthLabels %}
                                  <div class="col-6">
                                      <div class="badge">High Fiber <i class="fa fa-check"></i></div>
                                  </div>
                                  {%endif%}
                                  {% if 'HIGH_PROTEIN' in recipe.healthLabels %}
                                  <div class="col-6">
                                      <div class="badge">High Protein <i class="fa fa-check"></i></div>
                                  </div>
                                  {%endif%}
                                  {% if 'LOW_CARB' in recipe.healthLabels %}
                                  <div class="col-6">
                                      <div class="badge">Low Carb <i class="fa fa-check"></i></div>
                                  </div>
                                  {%endif%}
                                  {% if 'LOW_SODIUM' in recipe.healthLabels %}
                                  <div class="col-6">
                                      <div class="badge">Low Sodium <i class="fa fa-check"></i></div>
                                  </div>
                                  {%endif%}
                                </ul>
                              </div>
                              </div>
                              <div class="col-6">
                                <div class="row d-flex">
                                  <div class="col-12">
                                    <h5><b><u>Nutrition Facts (per 1 serving):</u></b></h5>
                                  </div>
                                  <div class="col-6">
                                    <p><b>Calories: </b>{{(recipe.calories)/(recipe.servings | int)}} Cal.</p>
                                    <p><b>Total Fat: </b>{{recipe.fat/(recipe.servings | int)}}g</p>
                                    <p><b>-----Saturated Fat: </b>{{recipe.sat_fat/(recipe.servings | int)}}g</p>
                                    <p><b>-----Trans Fat: </b>{{recipe.trans_fat/(recipe.servings | int)}}g</p>
                                    <p><b>-----Polyunsaturated Fat: </b>{{recipe.poly_fat/(recipe.servings | int)}}g</p>
                                    <p><b>-----Monounsaturated Fat: </b>{{recipe.trans_fat/(recipe.servings | int)}}g</p>
                                    <p><b>Cholesterol: </b>{{recipe.cholesterol/(recipe.servings | int)}}mg</p>
                                    <p><b>Sodium: </b>{{recipe.sodium/(recipe.servings | int)}}mg</p>
                                    <p><b>Carbs: </b>{{recipe.carbs/(recipe.servings | int)}}g</p>
                                    <p><b>-----Fiber: </b>{{recipe.fiber/(recipe.servings | int)}}g</p>
                                    <p><b>-----Sugar: </b>{{recipe.sugar/(recipe.servings | int)}}g</p>
                                    <p><b>Protein: </b>{{recipe.protein/(recipe.servings | int)}}g</p>    
                                  </div>
                                  <div class="col-6">
                                    <p><b>Vitamin D: </b>{{recipe.vit_D/(recipe.servings | int)}}%</p>
                                    <p><b>Calcium: </b>{{recipe.calcium/(recipe.servings | int)}}%</p>
                                    <p><b>Iron: </b>{{recipe.iron/(recipe.servings | int)}}%</p>
                                    <p><b>Potassium: </b>{{recipe.potassium/(recipe.servings | int)}}mg</p>
                                    <p><b>Vitamin A: </b>{{recipe.vit_A/(recipe.servings | int)}}%</p>
                                    <p><b>Vitamin C: </b>{{recipe.vit_C/(recipe.servings | int)}}%</p>
                                  </div>
                                </div>
                              </div>
                            
                                
                        </div>
                      
                    </div>
                </div>
              </div>
              
        </div>

    </div>
</div>

{% endblock %}
