{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}

    <div class="container-fluid">
        <div class="row">
            <div class="col-12 mb-3">
                {% with messages = get_flashed_messages(with_categories=true) %}
                {% for category, msg in messages %}
                    <div class="flash {{ category }}">{{ msg }}</div>
                {% endfor %}
            {% endwith %}
            </div>
        </div>
        <form class="justify-content-center my-5" action="/browse" page={{page.page}}>
            <input class="form-control form-control-lg form-control-borderless mb-3" type="text" placeholder="Search recipes" name="search">
            <input type="hidden" name="page" value="{{page.page}}">
            <div class="row d-flex">
                <div class="col-12 col-md-4">
                        <h6>Refine your search by your fave cuisine(s)</h6>
                        {% for cuisine in user.fave_cuisines %}
                        <input type="checkbox" id="{{cuisine.name}}" name="cuisines" value="{{cuisine.name}}">
                        <label for="{{cuisine.name}}">{{cuisine.name}}</label><br>
                        {% endfor %}
                </div>
                <div class="col-12 col-md-4">
                        <h6>Refine your search by your specified diet(s)</h6>
                        {% for diet in user.diets %}
                        <input type="checkbox" id="{{diet.name}}" name="diets" value="{{diet.name}}">
                        <label for="{{diet.name}}">{{diet.name}}</label><br>
                        {% endfor %}
                </div>
            </div>
            <a href="/users/{{user.id}}/preferences"><p>Click here to update your fave cuisines and preferred diets</p></a>

            <button style="width:100%" class="btn btn-primary">Submit</button>
    
        </form>
            
        
        <div class="row d-flex align-items-center inner-row">
            <div class="col-12">
                <h5>Your Saved Recipes</h5>
                <div class="row d-flex">
                    {% for item in savedRecipes %}
                    <div class="col-6 col-md-4">
                        <div class="card" style="width: 15rem; margin: 1rem auto">
                          <div class="img-container">
                              <img class="card-img-top" src="{{item.image}}" alt="Card image cap">
                              <div class="overlay minus text-center">
                                  <a href="/delete_recipe/{{item.id}}"><i data-toggle="tooltip" data-placement="top" title="Delete from library" class="fa fa-minus-circle"></i></a>
                              </div>
                          </div>                      
                          <div class="home card-body loggedUser">
                            <div class="header">
                              <h6 class="text-center">{{item.title}}</h6>
                            
                           <hr/>
                           
                                {% for rec in DBSavedRecipes %}    
          
                                {% if rec.api_id == item.id and rec.saved_recipes_linked_cuisine %}
                                <p class="text-left"><b><i>Library Tags - Cuisines:</i></b>   
                                  {% for r in rec.saved_recipes_linked_cuisine %}
                                    <span><i>{{r.name}},</i></span>
                                  {% endfor %}
                                </p>
                                {% elif rec.api_id == item.id and not rec.saved_recipes_linked_cuisine %}
                                <p class="text-left"><b><i>Library Tags - Cuisines:</i></b>         
                                  <span><i>None</i></span>
                                </p>
                                {% endif %}
                             
                                {% if rec.api_id == item.id and rec.saved_recipes_linked_diet %}
                                <p class="text-left"><b><i>Library Tags - Diets:</i></b>     
                                  {% for d in rec.saved_recipes_linked_diet %}
                                    <span><i>{{d.name}},</i></span>
                                  {% endfor %}
                                </p>
                                {% elif rec.api_id == item.id and not rec.saved_recipes_linked_diet %}
                                <p class="text-left"><b><i>Library Tags - Diets:</i></b>        
                                  <span><i>None</i></span>
                                </p>
                                {% endif %}

                                {% if rec.api_id == item.id and rec.saved_recipes_linked_custom %}
                                <p class="text-left"><b><i>Library Tags - Custom Tags:</i></b>     
                                  {% for t in rec.saved_recipes_linked_custom %}
                                    <span><i>{{t.name}},</i></span>
                                  {% endfor %}
                                </p>
                                {% elif rec.api_id == item.id and not rec.saved_recipes_linked_custom %}
                                <p class="text-left"><b><i>Library Tags - Custom Tags:</i></b>        
                                  <span><i>None</i></span>
                                </p>
                                {% endif %}

                              {% endfor %}
                          
                            </div>
                          
                              <hr/>
                              <a href="/recipe/{{item.id}}"><p>View recipe details</p></a>                           
                              <a href="/recipe/{{item.id}}/similar?page={{page.page}}"><p>Browse similar recipes</p></a>
                              <a href="/recipe/{{item.id}}#editLibraryTags"><p>Edit Library Tags</p></a>
                
                            </div>
                          </div>
                      </div>
              
                    {% endfor %}
                </div>
         
              </div>
              <div class="col-12">
                <h5>Your Created Recipes</h5>
                <div class="row d-flex">
                    {% for item in createdRecipes %}
                    <div class="col-6 col-md-4">
                        <div class="card" style="width: 15rem; margin: 1rem auto">
                          <div class="img-container">
                            {% if 'http' in item.image %}
                              <img class="card-img-top" src={{item.image}} alt="Card image cap">
                              {% else %}
                              <img class="card-img-top" src="/static/images/{{item.image}}" alt="Card image cap">
                              {% endif %}
                              <!-- <img class="card-img-top" src="/static/images/{{item.image}}" alt="Card image cap"> -->
                              <div class="overlay minus text-center">
                                  <a href="/users/{{user.id}}/created-recipe/{{item.id}}/delete"><i data-toggle="tooltip" data-placement="top" title="Delete from library" class="fa fa-minus-circle"></i></a>
                              </div>
                          </div>                      
                          <div class="home card-body loggedUser">
                            <div class="header">
                              <h6 class="text-center">{{item.title}}</h6>
                            
                           <hr/>
                           
                                {% for rec in DBCreatedRecipes %}    
          
                                {% if rec.id == item.id and rec.created_recipes_linked_cuisine %}
                                <p class="text-left"><b><i>Library Tags - Cuisines:</i></b>   
                                  {% for r in rec.created_recipes_linked_cuisine %}
                                    <span><i>{{r.name}},</i></span>
                                  {% endfor %}
                                </p>
                                {% elif rec.id == item.id and not rec.created_recipes_linked_cuisine %}
                                <p class="text-left"><b><i>Library Tags - Cuisines:</i></b>         
                                  <span><i>None</i></span>
                                </p>
                                {% endif %}
                             
                                {% if rec.id == item.id and rec.created_recipes_linked_diet %}
                                <p class="text-left"><b><i>Library Tags - Diets:</i></b>     
                                  {% for d in rec.created_recipes_linked_diet %}
                                    <span><i>{{d.name}},</i></span>
                                  {% endfor %}
                                </p>
                                {% elif rec.id == item.id and not rec.created_recipes_linked_diet %}
                                <p class="text-left"><b><i>Library Tags - Diets:</i></b>        
                                  <span><i>None</i></span>
                                </p>
                                {% endif %}

                                {% if rec.id == item.id and rec.created_recipes_linked_custom %}
                                <p class="text-left"><b><i>Library Tags - Custom Tags:</i></b>     
                                  {% for t in rec.created_recipes_linked_custom %}
                                    <span><i>{{t.name}},</i></span>
                                  {% endfor %}
                                </p>
                                {% elif rec.id == item.id and not rec.created_recipes_linked_custom %}
                                <p class="text-left"><b><i>Library Tags - Custom Tags:</i></b>        
                                  <span><i>None</i></span>
                                </p>
                                {% endif %}

                              {% endfor %}
                          
                            </div>
                          
                              <hr/>
                              <a href="/users/{{user.id}}/created-recipe/{{item.id}}"><p>View recipe details</p></a>                           
                              <a href="/users/{{user.id}}/created-recipe/{{item.id}}#editLibraryTags"><p>Edit Library Tags</p></a>
                
                            </div>
                          </div>
                      </div>
              
                    {% endfor %}
                </div>
         
              </div>
              <div class="col-12">
                <h5>Recently Viewed</h5>
                <div id="carouselRecentView" class="carousel slide">
                    <div class="carousel-inner w-100" role="listbox">
                        {% for item in session["recipes"] %} 
                        {% if item.image %} 
                        <div class="carousel-item {% if loop.index == 1 %} active{% endif %}">
                            <div class="col-12 col-md-4">
                                <div class="card" style="width: 15rem; margin: 1rem auto">
                                  <div class="img-container">
                                      <img class="card-img-top" src="{{item.image}}" alt="Card image cap">
                                      <div class="overlay text-center">
                                          <a href="/save_recipe/{{item.id}}"><i data-toggle="tooltip" data-placement="top" title="Save to library" class="fa fa-plus-circle"></i></a>
                                      </div>
                                  </div>                      
                                  <div class="home card-body">
                                      <h6 class="home card-title text-center">{{item.title}}</h6>
                                      <hr/>
                                      <a href="/recipe/{{item.id}}"><p>View recipe details</p></a>
                                      {% if item.cuisines|length  > 0 %}
                                         <a href="/browse?search={{item.cuisines[0]}}&page={{page.page}}"><p>Browse other {{item.cuisines[0]}} recipes</p></a>
                                      {% endif %}
                                      {% if item.diets|length  == 1 %}
                                         <a href="/browse?search={{item.diets[0]}}&page={{page.page}}"><p>Browse other {{item.diets[0]}} recipes</p></a>
                                      {% elif item.diets|length  > 1 %}
                                      <a href="/browse?search={{item.diets[1]}}&page={{page.page}}"><p>Browse other {{item.diets[item.diets|length - 1]}} recipes</p></a>
                                      {% endif %}
                                    </div>
                                  </div>
                              </div>
                        </div>
                        {% endif %}
                        {% endfor %}
                    </div>
                    <div class="controls text-center">
                        <a class="home-icon left" href="#carouselRecentView" role="button" data-slide="prev"> 
                            <i class="fa fa-arrow-left"></i>
                          </a> 
                          <a class="home-icon right" href="#carouselRecentView" role="button" data-slide="next"> 
                            <i class="fa fa-arrow-right" style="text-align: right;"></i>
                          </a>
                    </div>
                  </div>
              </div>
              <div class="col-12">
                <h5>Recommendations</h5>
                {% for cuisine in user.fave_cuisines %}
                <a href="/browse?cuisines={{cuisine.name}}&page={{page.page}}"><button class="btn btn-primary btn-sm">Explore {{cuisine.name}} Cuisine</button></a>
                {% endfor %}
                {% for diet in user.diets %}
                <a href="/browse?diets={{diet.name}}&page={{page.page}}"><button class="btn btn-success btn-sm">Explore {{diet.name}} Recipes</button></a>
                {% endfor %}
                
              </div>
        </div>
       
    </div>


{% endblock %}

