{% extends 'base.html' %}

{% block title %}Register{% endblock %}

{% block content %}

  <div class="row d-flex h-100 p-5">
  <div class="col-12">
    {% with messages = get_flashed_messages(with_categories=true) %}
    {% for category, msg in messages %}
        <div class="flash {{ category }}">{{ msg }}</div>
    {% endfor %}
    {% endwith %}
    <h2 class="join-message mb-5 text-center">Create an account</h2>
    <form method="POST" id="user_form">
      {{ form.hidden_tag() }}

      {% for field in form if field.widget.input_type != 'hidden' %}
        {% for error in field.errors %}
          <span class="text-danger">{{ error }}</span>
        {% endfor %}
        {{ field(placeholder=field.label.text, class="form-control") }}
      {% endfor %}

      <button class="btn btn-primary btn-lg btn-block">Register</button>
    </form>
  </div>
</div>

{% endblock %}